{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block body %}
	<div data-controller="test">
		<canvas data-test-target="test"></canvas>
	</div>
{% endblock %}
